{{- $secretName := printf "%s-flask-server-secret-key" (include "mlflow.fullname" .) }}
{{- $flaskServerSecretKey := "" }}
{{- if not .Values.flaskServerSecret.existingSecret.name }}
  {{- if .Values.flaskServerSecret.secretKey }}
    {{- $flaskServerSecretKey = .Values.flaskServerSecret.secretKey }}
  {{- else if .Values.flaskServerSecretKey }}
    {{- $flaskServerSecretKey = .Values.flaskServerSecretKey }}
  {{- else }}
    {{- $flaskServerSecretKey = include "mlflow.generateRandomHex" 32 }}
  {{- end }}
  {{- if not (lookup "v1" "Secret" .Release.Namespace $secretName) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "mlflow.name" . }}
    chart: {{ include "mlflow.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  {{- if .Values.flaskServerSecret.annotations }}
  annotations: {{- toYaml .Values.flaskServerSecret.annotations | nindent 4 }}
  {{- end }}
type: Opaque
data:
  MLFLOW_FLASK_SERVER_SECRET_KEY: {{ $flaskServerSecretKey | b64enc | quote }}
  {{- end }}
{{- end }}
