{{- if .Values.oauth2Proxy.enabled }}
{{- if .Values.oauth2Proxy.createSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mlflow.fullname" . }}-oauth2-proxy-secret
  labels:
    {{- include "mlflow.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.oauth2Proxy.provider.clientID }}
  {{ .Values.oauth2Proxy.clientIDKey | default "client-id" }}: "{{ .Values.oauth2Proxy.provider.clientID }}"
  {{- end }}
  {{- if .Values.oauth2Proxy.provider.clientSecret }}
  {{ .Values.oauth2Proxy.clientSecretKey | default "client-secret" }}: "{{ .Values.oauth2Proxy.provider.clientSecret }}"
  {{- end }}
  {{- if .Values.oauth2Proxy.cookieSecret }}
  cookie-secret: "{{ .Values.oauth2Proxy.cookieSecret }}"
  {{- end }}
{{- end }}
{{- end }}
