suite: test service

templates:
  - service.yaml

tests:
  - it: should use different port number when we change it
    set:
      service.port: 80
    asserts:
      - contains:
          path: spec.ports
          content:
            port: 80
            targetPort: mlflow
          any: true

  - it: should use different port name when we change it
    set:
      service.name: differentname
    asserts:
      - contains:
          path: spec.ports
          content:
            name: differentname
          any: true

  - it: should match snapshot of default values
    set:
      service.annotations:
        test-key: test-value
    release:
      name: mlflow
      namespace: mlflow
    chart:
      version: 1.0.0
      appVersion: 1.0.0
    asserts:
      - matchSnapshot: {}

  - it: should use set nodeport when service type is NodePort
    set:
      service.type: NodePort
      service.nodePort: 31080
    asserts:
      - contains:
          path: spec.ports
          content:
            nodePort: 31080
          any: true

  - it: should not render nodeport when service type is ClusterIP
    set:
      service.type: ClusterIP
      service.nodePort: 31080
    asserts:
      - notContains:
          path: spec.ports
          content:
            nodePort: 31080
          any: true

  - it: should use set nodeport when service type is LoadBalancer
    set:
      service.type: LoadBalancer
      service.nodePort: 31080
    asserts:
      - contains:
          path: spec.ports
          content:
            nodePort: 31080
          any: true
